* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.text-block {
    position: absolute;
    color: aliceblue;
    top: 50%;
    left: 50%;
    background-color: black;
    opacity: .90;
    color: white;


}

label {
    font-size: 14px;
    margin-right: 10px;
    font-weight: 700;
}

input,
#total {
    margin-bottom: 15px;
}